{% doc %}

  Cart Footer
  ------------------------------------------------------------------------------

  @param {string} [checkout_button_text] - The text for the checkout button
  @param {string} [checkout_message] - The message to display in the footer

  @example
    {% render 'cart-footer',
             checkout_button_text: 'Go to checkout',
             checkout_message: 'Calculated in checkout'
    %}
{% enddoc %}

<div
  class="ajax-cart__footer"
  data-component="cart-footer"
>
  <div class="flex justify-between items-center text-[12px] text-muted">
    <span>Shipping</span>
    <span>{{ checkout_message | default: 'Calculated in checkout' }}</span>
  </div>

  <div class="flex justify-between items-center text-[12px] text-fg">
    <span>Total value</span>
    <span data-subtotal-price>{{ cart.items_subtotal_price | money }}</span>
  </div>

  <button
    type="submit"
    name="checkout"
    class="w-full h-12 bg-fg text-bg text-[12px] font-medium flex items-center justify-center mt-1"
  >
    {{ checkout_button_text | default: 'Go to checkout' }}
  </button>
</div>
