{%- liquid
  assign product_count = 0
  assign product_source = section.settings.collection.products

  if section.settings.source == 'product_list'
    assign product_source = section.settings.product_list
  endif

  capture product_grid_items
    for product in product_source
      render 'product-card', product: product

      assign product_count = product_count | plus: 1
    endfor
  endcapture
%}

<section
  data-section-id="{{ section.id }}"
  data-section-type="featured-products"
  class="py-(--layout-padding-top)"
>
  {% if section.settings.title != blank %}
    <div class="container mb-6">
      <h2 class="text-h2 text-fg">{{ section.settings.title }}</h2>
    </div>
  {% endif %}

  <div class="container">
    <div class="product-grid">
      {{ product_grid_items }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "New Arrivals"
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "select",
      "id": "source",
      "label": "Source",
      "options": [
        {
          "value": "collection",
          "label": "Collection"
        },
        {
          "value": "product_list",
          "label": "Product List"
        }
      ],
      "default": "collection"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Product List"
    }
  ],
  "presets": [
    {
      "name": "Featured Products",
      "settings": {
        "title": "New Arrivals",
        "source": "collection",
        "collection": "frontpage"
      }
    }
  ]
}
{% endschema %}
